<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- 내부 
  <appSettings>
    <add key="FTP_IP" value="192.168.1.199"/>
    <add key="FTP_PORT" value="21"/>
    <add key="SQL_IP" value="192.168.1.198"/>
    <add key="SQL_PORT" value="1433"/>
    <add key="REGION" value="za"/>
  </appSettings>
  -->
  <!-- 외부 
  <appSettings>
    <add key="FTP_IP" value="102.132.52.239"/>
    <add key="FTP_PORT" value="21"/>
    <add key="SQL_IP" value="102.132.52.239"/>
    <add key="SQL_PORT" value="1433"/>
    <add key="REGION" value="za"/>
  </appSettings>
  -->
</configuration>