<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!-- 내부 
  <appSettings>
    <add key="FTP_IP" value="10.140.41.30"/>
    <add key="FTP_PORT" value="21"/>
    <add key="SQL_IP" value="10.140.41.30"/>
    <add key="SQL_PORT" value="1433"/>
    <add key="REGION" value="za"/>
    <add key="BACKGROUND" value="trapeace_bg_01.jpg"/>
  </appSettings>
  -->
  <!-- 외부 
  <appSettings>
    <add key="FTP_IP" value="105.22.46.202"/>
    <add key="FTP_PORT" value="21"/>
    <add key="SQL_IP" value="105.22.46.202"/>
    <add key="SQL_PORT" value="1433"/>
    <add key="REGION" value="za"/>
    <add key="BACKGROUND" value="trapeace_bg_01.jpg"/>
  </appSettings>
  -->
  <!-- 로컬 -->
  <appSettings>
    <add key="FTP_IP" value="127.0.0.1"/>
    <add key="FTP_PORT" value="21"/>
    <add key="SQL_IP" value="127.0.0.1"/>
    <add key="SQL_PORT" value="1433"/>
    <add key="REGION" value="za"/>
    <add key="BACKGROUND" value="trapeace_bg_01.jpg"/>
  </appSettings>
  
</configuration>